<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Products:</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="src/styles.css">
</head>
<body>
	<div id="product-list">
		{% if PRODUCTS is defined and PRODUCTS %}
			{% for p in PRODUCTS %}
				<article data-price="{{ p.price }}" data-max-amount="{{ p.maxamount }}">
					<header>
						<p>{{ p.title }}</p>
					</header>
					<img src="{{ p.image }}">
					<details>
						<summary>More</summary>
						{{ p.description }}
					</details>
				</article>
			{% endfor %}
		{% else %}
			<p>No available Products</p>
		{% endif %}
	</div>
</body>
</html>
