:root {
	--background: #222;
	--surface: #333;
	--surface-alt: #444;
	--foreground: #fff;
	--foreground-accent: #00BBFF;
	--foreground-accent-alt: #0099CC;

	--pad-large: 20px;
	--pad-norm: 10px;
	--pad-small: 7px;
	--pad-small-alt: 5px;
	--pad-tiny: 2px;
}


#product-list {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: var(--pad-large);
	padding: var(--pad-norm);
	box-sizing:border-box;
}

h3 { margin:0px }
header { margin-bottom: var(--pad-small) }

body {
	padding: 0px;
	margin: 0px;
	background: var(--background);
	color: var(--foreground);
	font-family: monospace;
	cursor: default;
}


article {
	background: var(--surface);
	width:fit-content;
	height: fit-content;
	color: var(--foreground);
	padding: var(--pad-norm);
	border-radius: var(--pad-norm);
	border: solid var(--pad-tiny) var(--foreground-accent);
	width:100%;
	box-sizing:border-box;

	.buttons {
		width:fit-content;
		margin-top: var(--pad-small);
		button { all:unset }
	}
}


button, .buttons {
	background: var(--foreground-accent);
	border: none;
	border-radius: var(--pad-norm);
	padding: var(--pad-small-alt) var(--pad-small);
	color: var(--foreground);
	transition: 0.1s ease-in-out all;
	user-select: none;
}


button:not(.buttons button):hover, .buttons:hover {
	background: var(--foreground-accent-alt);
	cursor: pointer;
	scale: 0.95;
}


button:not(.buttons button):active, .buttons:active {
	scale:0.9;
}


#cart {
	position: sticky;
	top: var(--pad-norm);
	width: fit-content;
	background: var(--surface);
	border: solid var(--pad-tiny) var(--surface-alt);
	border-radius: var(--pad-small);
	margin: var(--pad-norm);
	padding: var(--pad-small-alt);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}
