:root {
	--background: #222;
	--surface: #333;
	--surface-alt: #444;
	--foreground: #fff;
	--foreground-accent: #00BBFF;
	--foreground-accent-alt: #0099CC;

	--start-font: 1.3rem;
	--grid-item-size: 250px;

	--pad-large: 17px;
	--pad-norm: 10px;
	--pad-small: 7px;
	--pad-tiny: 5px;
	--pad-border: 2px;
}


#product-list {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-size), 1fr));
	gap: var(--pad-large);
	padding: var(--pad-large);
	box-sizing:border-box;
}

h3, p { margin:0px }
header { margin-bottom: var(--pad-small) }

html {font-size: 100%}
body {
	padding: 0px;
	margin: 0px;
	background: var(--background);
	color: var(--foreground);
}


* {
	font-size: var(--start-font);
	font-family: 'Aerial';
	cursor: default;
}


article {
	position:relative;
	box-sizing:border-box;
	width:100%;

	padding: var(--pad-norm);
	border-radius: var(--pad-norm);

	border: solid var(--pad-border) var(--foreground-accent);

	background: var(--surface);
	color: var(--foreground);

	header {
		display:flex;
		.other {
			width:100%;
			.price {
				font-weight: normal;
				font-size: 1rem;
				font-style: italic;
				opacity: 0.75;
				&:hover { opacity: 1 }
			}
			
			p { margin-top: var(--pad-border)}
		}
	}

	img { width:100%}
	.buttons {
		height:fit-content;
		text-wrap: nowrap;
		button { all:unset }
		margin-left: var(--pad-norm);
	}
}


button, .buttons {
	background: var(--foreground-accent);
	border: none;
	border-radius: var(--pad-norm);
	padding: var(--pad-tiny) var(--pad-small);
	color: var(--foreground);
	transition: 0.1s ease-in-out all;
}

button.alt {
	font-family: monospace;
}


button:not(.buttons button):hover, .buttons:hover {
	background: var(--foreground-accent-alt);
	cursor: pointer;
	scale: 0.95;
}


button:not(.buttons button):active, .buttons:active {
	scale:0.9;
}


#cart {
	z-index:100;
	position: sticky;
	top: var(--pad-large);
	width: fit-content;

	margin: var(--pad-norm) var(--pad-large);
	padding: var(--pad-tiny);

	border: solid var(--pad-border) var(--surface-alt);
	border-radius: var(--pad-small);

	background: var(--surface);
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.5);
}


.sep {
	all: unset;
	display: inline;
	height: 100%;
	border-left: solid var(--pad-border) var(--background);
	width:10px;
	margin: var(--pad-norm);
}
