@import "styles.css";

.page-body {
	height:80vh;
	display:flex;
	align-items:center;
	justify-content: center;
	box-sizing:border-box;
}

#login-form {
	width:50vw;
	display:flex;
	align-items:center;
	flex-wrap: wrap;
	justify-content:center;
	flex-direction: column;
	gap: var(--gap-size-norm);

	input {
		width:100%;
		outline:none;
		border: none;
		padding: var(--gap-size-norm);
		box-sizing:border-box;
		font-size: 1.2rem;
		font-family: var(--font-family);
		color: var(--background);
		background: var(--foreground);
		border: solid var(--border-width) var(--foreground-accent);
	}

	label {width:100%}

	button.alt {
		width:100%;
		padding: var(--gap-size-norm);
	}
}

.form-sign-in .sign-up {
	display: none;
	height:0px;
}

.sign-in {display: none}
.form-sign-in .sign-in {display: block}

@media (max-width: 800px) or (orientation: portrait) {
	.form {
		width:100% !important;
	}
}
