
:root {
	--foreground: #beddba;
	--background: #1c041e;
	--background-accent: rgba(128, 0, 255, 0.1);
	--foreground-accent: #CCCCFF;
	--background-surface: rgba(40, 0, 40, 0.7);

	--gap-size-small: 4px;
	--gap-size-norm: 10px;
	--gap-size-medium: 15px;
	--gap-size-large: 25px;
	--gap-size-huge: 20vw;

	--body-inner-width: calc(100% - (var(--gap-size-huge)*2));
	--nav-height: 20px;

	--border-radius: 5px;
	--border-radius-large: 10px;
	--border-width : 2px;

	--font-family: serif;
	--blur-amount: 200px;
}

/* Single liners */
.filters, .hamburger {display:none}
button a {text-decoration: none;}
.dropcap {display:inline;}
b {filter: url(#distort)}


/* Global styles */
* {
	margin:0px;
	padding:0px;
	color: var(--foreground);
	box-sizing:border-box;
}

body {
	background: var(--background);
	padding:0px;
	margin:0px;
	font-family: var(--font-family);
	font-size: 1rem;
}

#navbar {
	height:fit-content;
	box-sizing:border-box;
	padding: var(--gap-size-small) var(--gap-size-large);

	display:flex;
	align-items:center;
	justify-content: space-between;

	position:sticky;

	margin-left: calc(var(--gap-size-huge) + var(--gap-size-large));
	width: calc(var(--body-inner-width) - (var(--gap-size-large)*2));
	border-radius: var(--border-radius-large);
	top: var(--border-radius-large);

	background: var(--background-surface);
	backdrop-filter: blur(var(--blur-amount));
	-webkit-backdrop-filter: blur(var(--blur-amount));
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: solid var(--border-width)  var(--background-surface);

	z-index:100000;

	header * {display:inline-block}
	header sub {transform:translateY(-50%)}
	header #nav-logo {
		cursor:pointer;
		height: var(--nav-height);
		scale: 0.8;
	}

	.nav-buttons {
		display: flex;
		gap: var(--gap-size-norm);
		overflow:visible
	}
}

/* Basic button-like styles (im so funny)*/
button {
	outline:none;
	border:none;
	background:transparent;
	padding: var(--gap-size-small) var(--gap-size-norm);
	color:var(--foreground);
	font-family: var(--font-family);
	font-size: 1rem;
	border-bottom: solid var(--border-width) var(--foreground-accent);
	color: var(--foreground-accent);
	transition: all 0.2s ease;
	cursor: pointer;
	height:fit-content;

	&.alt {
		border-radius: var(--border-radius);
		background: var(--foreground-accent);
		color: var(--background);
	}
	
	&:hover {
		opacity:0.5;
		transform: rotate(5deg) scale(0.9);
		transition: all 0.1s ease;
	}
	
	&:active {
		opacity:0.9;
		transform:rotate(5deg) scale(1.1);
	}
}

section.page {
	width:100%;
	display:flex;
	padding: 0 var(--gap-size-huge);
	box-sizing:border-box;
	height:fit-content;

	div {
		padding: var(--gap-size-norm);
		overflow:  hidden;
		width:50%;
		height:100%;
		box-sizing:border-box;
		filter: url(#dither);
		background: var(--background-accent);
	}
}

footer {
	color: var(--foreground-accent);
	font-style: italic;
	background: linear-gradient(var(--background), var(--background-accent));
	width:100%;
	height:30vw;

	display:flex;
	align-items: center;
	justify-content: center;
	gap: 1ch;
}


img {
	image-rendering: pixelated;
	height:100%;
	width:100%;
	object-fit: cover;
}


/* Image styles from hero page */
.header-img {
	margin-top: calc(var(--nav-height) + var(--gap-size-small));
	width: var(--body-inner-width);
	margin-left: var(--gap-size-huge);
	position:relative;
	overflow:hidden;

	/* Size of the hero image */
	height:50vh;

	&::after {
		content: "";
		top: 0;
		right:0;
		position: absolute;
		width:100%;
		height:100%;

		/* Gradient layer over the image */
		background:linear-gradient(var(--background), transparent);
	}
}

/* Mobile styles */
@media (max-width: 800px) or (orientation: portrait) {
	:root {
		--nav-height: 10vw;
		--gap-size-huge: 0px;
		--border-radius-large: 0px;
	}

	html {
		/* Mobile font scale */
		font-size: 200%;
	}

	/* Make the info layout stack */
	section.page {
		display:block;
		div {
			width:100%
		}
	}

	#navbar {
		border-radius: none;
		margin: 0px;
		width:100%;
	}

	.nav-button {
		position: relative;
		display: inline-block;
	}
	
	.hamburger {
		width: var(--nav-height);
		height: var(--nav-height);

		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		svg {
			width: var(--nav-height);
			height: var(--nav-height);
		}

		svg path {
			stroke: var(--foreground-accent);
		}
	}
	
	/* Implemented dropdown menu */
	.dropdown-buttons {
		position: absolute;
		top: calc(100%);
		right: 0;
		display: flex;
		flex-direction: column;
		gap: var(--gap-size-norm);
		padding: var(--gap-size-small);

		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px);
		transition: all .2s ease;
		z-index: 1000;

		/* this dropdown has perfect sizing but these make it conform for mobile :/ */
		width: 100%;
		
		/* Dropdown menu styles: */
		background: var(--background);
		border: var(--border-width) solid var(--background-accent);
		border-radius: var(--border-radius);
	}
	
	/* When to show the dropdown */
	.nav-buttons:hover .dropdown-buttons,
	.nav-buttons:focus-within .dropdown-buttons {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

/* Animations: */
.anim {
	opacity: 0;
	animation-duration: 500ms;
	animation-delay: 0ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes from-bottom {
	from {
		opacity:0;
		transform: translateY(var(--gap-size-large));
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes from-top {
	from {
		opacity:0;
		transform: translateY(calc( -1 * var(--gap-size-large)));
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
