
:root {
	--foreground: #beddba;
	--background: #1c041e;
	--background-accent: rgba(128, 0, 255, 0.1);
	--foreground-accent: #CCCCFF;
	--background-surface: rgba(40, 0, 40, 0.7);

	--gap-size-small: 4px;
	--gap-size-norm: 10px;
	--gap-size-medium: 15px;
	--gap-size-large: 25px;
	--gap-size-huge: 20vw;

	--body-inner-width: calc(100% - (var(--gap-size-huge)*2));
	--nav-height: 20px;

	--border-radius: 5px;
	--border-radius-large: 10px;
	--border-width : 2px;

	--font-family: serif;
	--blur-amount: 200px;
}

.filters {
	display:none
}

* {
	margin:0px;
	padding:0px;
	color: var(--foreground);
}

body {
	background: var(--background);
	padding:0px;
	margin:0px;
	font-family: var(--font-family);
}

#navbar {
	height:fit-content;
	box-sizing:border-box;
	padding: var(--gap-size-small) var(--gap-size-large);

	display:flex;
	align-items:center;
	justify-content: space-between;

	position:sticky;

	margin-left: calc(var(--gap-size-huge) + var(--gap-size-large));
	width: calc(var(--body-inner-width) - (var(--gap-size-large)*2));
	border-radius: var(--border-radius-large);
	top: var(--border-radius-large);

	background: var(--background-surface);
	backdrop-filter: blur(var(--blur-amount));
	-webkit-backdrop-filter: blur(var(--blur-amount));
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: solid var(--border-width)  var(--background-surface);

	z-index:100000;
	overflow:hidden;

	header * {display:inline-block}
	header sub {transform:translateY(-50%)}
	header #nav-logo {
		cursor:pointer;
		height: var(--nav-height);
	}

	.nav-buttons {overflow:visible}
}

button {
	outline:none;
	border:none;
	background:transparent;
	padding: var(--gap-size-small) var(--gap-size-norm);
	color:var(--foreground);
	font-family: var(--font-family);
	font-size: 1em;
	border-bottom: solid var(--border-width) var(--foreground-accent);
	color: var(--foreground-accent);
	transition: all 0.2s ease;
	cursor: pointer;
	height:fit-content;
}

.dropcap {
	display:inline;
}

.nobg {
	background:transparent !important;
	background-color: transparent !important;
}

button.alt {
	border-radius: var(--border-radius);
	background: var(--foreground-accent);
	color: var(--background);
}

button:hover {
	opacity:0.5;
	transform: rotate(5deg) scale(0.9);
	transition: all 0.1s ease;
}

button:active {
	opacity:0.9;
	transform:rotate(5deg) scale(1.1);
}

section.page {
	width:100%;
	display:flex;
	padding: 0 var(--gap-size-huge);
	box-sizing:border-box;
	height:fit-content;

	div {
		padding: var(--gap-size-norm);
		overflow:  hidden;
		background:orange;
		width:50%;
		height:100%;
		box-sizing:border-box;
		filter: url(#dither);
		background: var(--background-accent);
	}
}

footer {
	color: var(--foreground-accent);
	font-style: italic;
	background: linear-gradient(var(--background), var(--background-accent));
	width:100%;
	height:30vw;

	display:flex;
	align-items: center;
	justify-content: center;
	gap: 1ch;
}

button a {
	text-decoration: none;
}

.spaccato-element {
	text-wrap: wrap;
	background:red;
}

.spaccato-word {
	margin-left:1ch;
}

b {filter: url(#distort)}

@media (max-width: 1000px) {
	:root {
		--gap-size-huge: 0px;
		--border-radius-large: 0px;
	}
}

@media (max-width: 700px){
	section.page {display:block}
	section.page div {width:100%}
}

.header-img {
	margin-top: calc(var(--nav-height) + var(--gap-size-small));
	width: var(--body-inner-width);
	margin-left: var(--gap-size-huge);
	position:relative;
	height:80vh;
	overflow:hidden;

	.bg-img {
		height:100%;
		width:100%;
		object-fit: cover;
	}

	&::after {
		top: 0;
		right:0;
		content: "Scroll Down";
		display:flex;
		align-items:end;
		justify-content:center;
		font-weight: bold;
		color: var(--background);
		padding: var(--gap-size-norm);

		position: absolute;
		box-sizing:border-box;
		width:100%;
		height:100%;
		background:linear-gradient(var(--background), transparent);
	}
}

/* Animations: */

.anim {
	opacity: 0;
	animation-duration: 500ms;
	animation-delay: 0ms;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes from-bottom {
	from {
		opacity:0;
		transform: translateY(var(--gap-size-large));
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

@keyframes from-top {
	from {
		opacity:0;
		transform: translateY(calc( -1 * var(--gap-size-large)));
	}

	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.img-logo {

	/* centers based on width */
	--width: 50%;
	--remain: calc((100% - var(--width)) / 2);

	width: var(--width);
	margin-left: var(--remain);
	transform: translateX(calc( -1 * var(--remain)));

}
